@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Clubber</h1>
        <p class="lead">Clubber is the go-to for organization of after school clubs.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        <img src="~/Assets/Clubs.png" />
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Students, Join A Club!</h2>
        <p>
            Join one of the affilliated clubs.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Administrators, Manage School Clubs</h2>
        <p>See where your students are, in the school building after school hours.</p>
    </div>
    <div class="col-md-4">
        <h2>Know Your Club Sponsors</h2>
        <p>See your club sponsors. Reach out with suggestions or requests.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>